<p>Book was successfully created.</p>


<% if @books.errors.any? %>

  <%= @books.errors.count %>件のエラーが発生しました。

  <ul>
    <% @books.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>




    <% @books.each do |book| %>

<p>
  <strong>Title:</strong>
  <span>
    <%= link_to book.title, "/books/#{book.id}" %>
  </span>
</p>
<p>
  <strong>Body:</strong>
  <span>
    <%= link_to book.body, "/books/#{book.id}" %>
  </span>
</p>

<% end %>